{% extends 'base.html' %} {% load static %} {% block title %} Login
    Healthy-Connect {% endblock %} {% block main %}

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="post">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-43">
          Efetue o login
        </span>

                    <div
                            class="wrap-input100 validate-input"
                            data-validate="Valid email is required: ex@abc.xyz"
                    >
                        <input
                                class="input100"
                                type="text"
                                name="username"
                                autofocus
                                onchange="habilitaSenha()"
                                value="{{ request.POST.username }}"
                        />
                        <span class="focus-input100"></span>
                        <span class="label-input100">Login</span>
                    </div>

                    <div
                            class="wrap-input100 validate-input"
                            data-validate="Password is required"
                    >
                        <input class="input100" id="password" type="password" name="password"/> {# Retirei o disable devido a bug quando a pagina é atuliazada #}
                        <span class="focus-input100"></span>
                        <span class="label-input100">Senha</span>
                    </div>

                    {% if incorreta is True %}
                        <div class="alert alert-danger text-center" role="alert">
                            Não foi possível encontrar um usuário com as credenciais fornecidas.
                            Tente novamente
                        </div>
                    {% endif %}

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-46 p-b-20">
                        <a href="" class="txt1">
                            Esqueceu a senha?
                        </a>
                    </div>
                </form>
                <div
                        class=" login100-more"
                        style=" position: relative; background-image: url({% static 'login/images/fundo.png' %});"
                >
                </div>
            </div>
        </div>
    </div>

    <script>
        function habilitaSenha() {
            $('#password').removeAttr('disabled');
        }
    </script>

    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>

{% endblock %}
